* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 10px;
    background-color: rgb(49, 82, 45);
    font-family: sans-serif, 'Times New Roman', serif;
}

#coffee {
    display: flex;
    height: 400px;

}

#title {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 30px;
}

#icedlatte {
    display: inline;
    text-decoration: none;
    color: rgb(120, 120, 243);
}

#americano {
    display: inline;
    text-decoration: none;
    color: rgb(181, 218, 218);
}

#icedimage {
    margin-bottom: 30px;
}

#j1 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
}

#j2 {
    font-size: 50px;
}
