* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, 'Times New Roman', serif;
}

.container {
    display: flex;
}

#title {
    color: inherit;
    text-decoration: none;
    color: rgb(150, 91, 23);
}

