* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(49, 82, 45);
    font-family: sans-serif, 'Times New Roman', serif;
}

#coffee {
    height: 400px;
}



