* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navigation {
    display: flex;
    align-items: center;
    background: rgb(236, 230, 230);
    gap: 16px;
    padding: 16px;
}

.navigation img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 5px solid black;
}

a { 
    display: flex;
    text-decoration: none;
    color: red;
    font-size: 30px;
}

#menu {
    text-decoration: underline green;
}

.name {
    display: flex;
    background: darkgreen;
    height: 70px;
    align-items: center;
    padding: 16px;
}

.name h2{
    color: rgb(195, 207, 139);
}

.content {
    display: flex;
    flex-direction: column;
    background: white;
    width: 820px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.content h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 200px;
    height: 200px;
    padding: 16px;
}

